/* TAREFA A FAZER */

.todo-list h3 {
    word-break: break-all;
}

.todo-list #todo .buttons .completar i:first-child {
    color: #ccc;
}

/* TAREFA COMPLETA */

.todo-list #todo .buttons .completar i:first-child {
    color: #f55;
}

.todo-list #completed .buttons .completar i:first-child {
    color: #5f5;
}