#pronto .card{
    background-color: rgb(53, 241, 116);

}

body {
    display: flex;
    gap: 1rem;
    text-align: center;
}

.card{
    border: 1px solid #000;
    border-radius:15px;
    background-color: rgb(127, 204, 255);
    padding: 0 10px;
    margin: 15px 0;
    height: 150px;
    text-align: left;
}
